/****** Replace rein with the table rein ******/

/****** Drop  Indexes ******/

DROP INDEX rein.idx_cash_app1;

DROP INDEX rein.idx_cash_app10;

DROP INDEX rein.idx_cash_app2;

DROP INDEX rein.idx_cash_app4;

DROP INDEX rein.idx_cash_app5;

DROP INDEX rein.idx_cash_app6;

DROP INDEX rein.idx_cash_app7;

DROP INDEX rein.idx_cash_app8;

DROP INDEX rein.idx_cash_app9;

DROP INDEX rein.idx_cash_app_temp1;

DROP INDEX rein.idx_cash_app_temp2;

DROP INDEX rein.idx_cash_app_temp4;

DROP INDEX rein.idx_cash_app_temp5;

DROP INDEX rein.idx_cash_app_temp6;

DROP INDEX rein.idx_cash_app_temp7;

DROP INDEX rein.idx_cash_app_temp8;

DROP INDEX rein.idx_cash_app_temp9;

DROP INDEX rein.idx_ceded_claim1;

DROP INDEX rein.idx_ceded_claim10;

DROP INDEX rein.idx_ceded_claim11;

DROP INDEX rein.idx_ceded_claim12;

DROP INDEX rein.idx_ceded_claim13;

DROP INDEX rein.idx_ceded_claim14;

DROP INDEX rein.idx_ceded_claim15;

DROP INDEX rein.idx_ceded_claim16;

DROP INDEX rein.idx_ceded_claim17;

DROP INDEX rein.idx_ceded_claim2;

DROP INDEX rein.idx_ceded_claim4;

DROP INDEX rein.idx_ceded_claim5;

DROP INDEX rein.idx_ceded_claim6;

DROP INDEX rein.idx_ceded_claim7;

DROP INDEX rein.idx_ceded_claim8;

DROP INDEX rein.idx_ceded_claim9;

DROP INDEX rein.idx_cession_subject_claim2;

DROP INDEX rein.idx_cession_subject_claim3;

DROP INDEX rein.idx_cession_subject_claim4;

DROP INDEX rein.idx_cession_subject_premium2;

DROP INDEX rein.idx_cession_subject_premium3;

DROP INDEX rein.idx_cession_subject_premium4;

DROP INDEX rein.idx_claim_direct_support_data2;

DROP INDEX rein.idx_claim_direct_support_data3;

DROP INDEX rein.idx_claim_status1;

DROP INDEX rein.idx_claim_status2;

DROP INDEX rein.idx_claimant_support_data2;

DROP INDEX rein.idx_clcrit1;

DROP INDEX rein.idx_clcrit2;

DROP INDEX rein.idx_clcrit3;

DROP INDEX rein.idx_clcrit4;

DROP INDEX rein.idx_clmtloc1;

DROP INDEX rein.idx_clmtloc2;

DROP INDEX rein.idx_clstat1;

DROP INDEX rein.idx_clstat2;

DROP INDEX rein.idx_clstat3;

DROP INDEX rein.idx_clstat4;

DROP INDEX rein.idx_clstat5;

DROP INDEX rein.idx_fac_broker1;

DROP INDEX rein.idx_fac_broker2;

DROP INDEX rein.idx_fac_certificate1;

DROP INDEX rein.idx_fac_certificate2;

DROP INDEX rein.idx_fac_coverage1;

DROP INDEX rein.idx_fac_criteria1;

DROP INDEX rein.idx_fac_criteria2;

DROP INDEX rein.idx_fac_history_audit1;

DROP INDEX rein.idx_fac_history_summ1;

DROP INDEX rein.idx_fac_history_summ2;

DROP INDEX rein.idx_fac_injury_cause1;

DROP INDEX rein.idx_fac_policy1;

DROP INDEX rein.idx_fac_reinsurer1;

DROP INDEX rein.idx_fac_reinsurer2;

DROP INDEX rein.idx_fac_reinsurer3;

DROP INDEX rein.idx_fac_udf1;

DROP INDEX rein.idx_fac_udf2;

DROP INDEX rein.idx_loss_notice11;

DROP INDEX rein.idx_loss_notice12;

DROP INDEX rein.idx_loss_notice13;

DROP INDEX rein.idx_loss_notice22;

DROP INDEX rein.idx_loss_notice23;

DROP INDEX rein.idx_loss_notice24;

DROP INDEX rein.idx_loss_notice25;

DROP INDEX rein.idx_loss_notice_work11;

DROP INDEX rein.idx_loss_notice_work12;

DROP INDEX rein.idx_master_contg_ibnr1;

DROP INDEX rein.idx_master_contract1;

DROP INDEX rein.idx_mcclause1;

DROP INDEX rein.idx_naic_information1;

DROP INDEX rein.idx_naic_information2;

DROP INDEX rein.idx_premium_archive22;

DROP INDEX rein.idx_premium_archive32;

DROP INDEX rein.idx_premium_archive33;

DROP INDEX rein.idx_premium_archive34;

DROP INDEX rein.idx_premium_archive35;

DROP INDEX rein.idx_premium_archive36;

DROP INDEX rein.idx_premium_archive37;

DROP INDEX rein.idx_premium_archive38;

DROP INDEX rein.idx_premium_archive39;

DROP INDEX rein.idx_premium_ceded12;

DROP INDEX rein.idx_premium_ceded13;

DROP INDEX rein.idx_premium_ceded14;

DROP INDEX rein.idx_premium_ceded15;

DROP INDEX rein.idx_premium_ceded16;

DROP INDEX rein.idx_premium_ceded17;

DROP INDEX rein.idx_premium_ceded18;

DROP INDEX rein.idx_premium_ceded22;

DROP INDEX rein.idx_premium_ceded23;

DROP INDEX rein.idx_premium_ceded24;

DROP INDEX rein.idx_premium_ceded25;

DROP INDEX rein.idx_premium_ceded26;

DROP INDEX rein.idx_premium_ceded27;

DROP INDEX rein.idx_premium_deposit1;

DROP INDEX rein.idx_premium_deposit2;

DROP INDEX rein.idx_premium_direct1;

DROP INDEX rein.idx_premium_direct2;

DROP INDEX rein.idx_premium_direct_supp_data2;

DROP INDEX rein.idx_premium_paid1;

DROP INDEX rein.idx_premium_paid2;

DROP INDEX rein.idx_premium_paid3;

DROP INDEX rein.idx_premium_paid_correlation1;

DROP INDEX rein.idx_premium_paid_correlation2;

DROP INDEX rein.idx_premium_stat1;

DROP INDEX rein.idx_premium_stat2;

DROP INDEX rein.idx_scbkprt1;

DROP INDEX rein.idx_scbkprt2;

DROP INDEX rein.idx_scbkprt3;

DROP INDEX rein.idx_scbkprt4;

DROP INDEX rein.idx_scbroker1;

DROP INDEX rein.idx_scbroker2;

DROP INDEX rein.idx_scbroker3;

DROP INDEX rein.idx_sccause1;

DROP INDEX rein.idx_sccause2;

DROP INDEX rein.idx_sccritm21;

DROP INDEX rein.idx_sccritm22;

DROP INDEX rein.idx_schedule_f11;

DROP INDEX rein.idx_schedule_p1;

DROP INDEX rein.idx_scinj1;

DROP INDEX rein.idx_scinj2;

DROP INDEX rein.idx_scudf1;

DROP INDEX rein.idx_scudf2;

DROP INDEX rein.idx_scudf3;

DROP INDEX rein.idx_sliding_scale1;

DROP INDEX rein.idx_sub_contract1;

DROP INDEX rein.idx_sub_contract2;

DROP INDEX rein.idx_treaty_history_audit1;

DROP INDEX rein.idx_treaty_history_summ1;


/****** Drop  Indexes ******/

DROP INDEX rein.idx_cash_app3;

DROP INDEX rein.idx_cash_app_temp3;

DROP INDEX rein.idx_ceded_claim3;

DROP INDEX rein.idx_ceded_claim21;

DROP INDEX rein.idx_cession_subject_claim1;

DROP INDEX rein.idx_cession_subject_premium1;

DROP INDEX rein.idx_claim_direct_support_data1;

DROP INDEX rein.idx_claim_support_data1;

DROP INDEX rein.idx_claimant_support_data1;

DROP INDEX rein.idx_loss_notice21;

DROP INDEX rein.idx_premium_archive21;

DROP INDEX rein.idx_premium_archive31;

DROP INDEX rein.idx_premium_ceded11;

DROP INDEX rein.idx_premium_ceded21;

DROP INDEX rein.idx_premium_direct_supp_data1;

DROP INDEX rein.idx_premium_support_data1;

DROP INDEX rein.idx_schedule_f21;

DROP INDEX rein.idx_agg_subject_direct1;

DROP INDEX rein.idx_agg_subject_loss1;


/****** Drop Primary Key Constraints ******/

ALTER TABLE rein.batch_maint DROP
 CONSTRAINT pk_batch_maint;

ALTER TABLE rein.bill_settings DROP
 CONSTRAINT pk_bill_settings;

ALTER TABLE rein.broker DROP
 CONSTRAINT pk_broker;

ALTER TABLE rein.cash_app DROP
 CONSTRAINT pk_cash_app;

ALTER TABLE rein.cash_app_temp DROP
 CONSTRAINT pk_cash_app_temp;

ALTER TABLE rein.cash_app_work DROP
 CONSTRAINT pk_cash_app_work;

ALTER TABLE rein.cause DROP
 CONSTRAINT pk_cause;

ALTER TABLE rein.ceded_claim DROP
 CONSTRAINT pk_ceded_claim;

ALTER TABLE rein.ceded_claim2 DROP
 CONSTRAINT pk_ceded_claim2;

ALTER TABLE rein.ceding_criteria DROP
 CONSTRAINT pk_ceding_criteria;

ALTER TABLE rein.cession_subject_claim DROP
 CONSTRAINT pk_cession_subject_claim;

ALTER TABLE rein.cession_subject_premium DROP
 CONSTRAINT pk_cession_subject_premium;

ALTER TABLE rein.claim_direct_entry1 DROP
 CONSTRAINT pk_claim_direct_entry1;

ALTER TABLE rein.claim_direct_entry2 DROP
 CONSTRAINT pk_claim_direct_entry2;

ALTER TABLE rein.claim_direct_entry3 DROP
 CONSTRAINT pk_claim_direct_entry3;

ALTER TABLE rein.claim_direct_entry4 DROP
 CONSTRAINT pk_claim_direct_entry4;

ALTER TABLE rein.claim_direct_support_data DROP
 CONSTRAINT pk_claim_direct_support_data;

ALTER TABLE rein.claim_manual1 DROP
 CONSTRAINT pk_claim_manual1;

ALTER TABLE rein.claim_manual2 DROP
 CONSTRAINT pk_claim_manual2;

ALTER TABLE rein.claim_manual3 DROP
 CONSTRAINT pk_claim_manual3;

ALTER TABLE rein.claim_manual4 DROP
 CONSTRAINT pk_claim_manual4;

ALTER TABLE rein.claim_manual5 DROP
 CONSTRAINT pk_claim_manual5;

ALTER TABLE rein.claim_status DROP
 CONSTRAINT pk_claim_status;

ALTER TABLE rein.claim_support_data DROP
 CONSTRAINT pk_claim_support_data;

ALTER TABLE rein.claimant_support_data DROP
 CONSTRAINT pk_claimant_support_data;

ALTER TABLE rein.clause DROP
 CONSTRAINT pk_clause;

ALTER TABLE rein.clcrit DROP
 CONSTRAINT pk_clcrit;

ALTER TABLE rein.clmtloc DROP
 CONSTRAINT pk_clmtloc;

ALTER TABLE rein.clstat DROP
 CONSTRAINT pk_clstat;

ALTER TABLE rein.collatrl DROP
 CONSTRAINT pk_collatrl;

ALTER TABLE rein.company DROP
 CONSTRAINT pk_company;

ALTER TABLE rein.contact DROP
 CONSTRAINT pk_contact;

ALTER TABLE rein.current_release DROP
 CONSTRAINT pk_current_release;

ALTER TABLE rein.diary_item DROP
 CONSTRAINT pk_diary_item;

ALTER TABLE rein.fac_broker DROP
 CONSTRAINT pk_fac_broker;

ALTER TABLE rein.fac_certificate DROP
 CONSTRAINT pk_fac_certificate;

ALTER TABLE rein.fac_coverage DROP
 CONSTRAINT pk_fac_coverage;

ALTER TABLE rein.fac_criteria DROP
 CONSTRAINT pk_fac_criteria;

ALTER TABLE rein.fac_history_audit DROP
 CONSTRAINT pk_fac_history_audit;

ALTER TABLE rein.fac_history_summ DROP
 CONSTRAINT pk_fac_history_summ;

ALTER TABLE rein.fac_injury_cause DROP
 CONSTRAINT pk_fac_injury_cause;

ALTER TABLE rein.fac_policy DROP
 CONSTRAINT pk_fac_policy;

ALTER TABLE rein.fac_reinsurer DROP
 CONSTRAINT pk_fac_reinsurer;

ALTER TABLE rein.fac_udf DROP
 CONSTRAINT pk_fac_udf;

ALTER TABLE rein.html_help DROP
 CONSTRAINT pk_html_help;

ALTER TABLE rein.ibnr_new DROP
 CONSTRAINT pk_ibnr_new;

ALTER TABLE rein.ibnr_rein_new DROP
 CONSTRAINT pk_ibnr_rein_new;

ALTER TABLE rein.id_table DROP
 CONSTRAINT pk_id_table;

ALTER TABLE rein.injury DROP
 CONSTRAINT pk_injury;

ALTER TABLE rein.interface_assignment DROP
 CONSTRAINT pk_interface_assignment;

ALTER TABLE rein.interface_columns DROP
 CONSTRAINT pk_interface_columns;

ALTER TABLE rein.interface_format DROP
 CONSTRAINT pk_interface_format;

ALTER TABLE rein.interface_layout DROP
 CONSTRAINT pk_interface_layout;

ALTER TABLE rein.interface_literal_detail DROP
 CONSTRAINT pk_interface_literal_detail;

ALTER TABLE rein.interface_literal_summary DROP
 CONSTRAINT pk_interface_literal_summary;

ALTER TABLE rein.interface_template DROP
 CONSTRAINT pk_interface_template;

ALTER TABLE rein.interface_tran_category DROP
 CONSTRAINT pk_interface_tran_category;

ALTER TABLE rein.loc_cont_reins DROP
 CONSTRAINT pk_loc_cont_reins;

ALTER TABLE rein.loc_data DROP
 CONSTRAINT pk_loc_data;

ALTER TABLE rein.loss_notice1 DROP
 CONSTRAINT pk_loss_notice1;

ALTER TABLE rein.loss_notice2 DROP
 CONSTRAINT pk_loss_notice2;

ALTER TABLE rein.loss_notice_work1 DROP
 CONSTRAINT pk_loss_notice_work1;

ALTER TABLE rein.master_contg_ibnr DROP
 CONSTRAINT pk_master_contg_ibnr;

ALTER TABLE rein.master_contract DROP
 CONSTRAINT pk_master_contract;

ALTER TABLE rein.mcclause DROP
 CONSTRAINT pk_mcclause;

ALTER TABLE rein.naic_information DROP
 CONSTRAINT pk_naic_information;

ALTER TABLE rein.note DROP
 CONSTRAINT pk_note;

ALTER TABLE rein.participant DROP
 CONSTRAINT pk_participant;

ALTER TABLE rein.pferrormsg DROP
 CONSTRAINT pk_pferrormsg;

ALTER TABLE rein.premium_archive1 DROP
 CONSTRAINT pk_premium_archive1;

ALTER TABLE rein.premium_archive2 DROP
 CONSTRAINT pk_premium_archive2;

ALTER TABLE rein.premium_archive3 DROP
 CONSTRAINT pk_premium_archive3;

ALTER TABLE rein.premium_ceded1 DROP
 CONSTRAINT pk_premium_ceded1;

ALTER TABLE rein.premium_ceded2 DROP
 CONSTRAINT pk_premium_ceded2;

ALTER TABLE rein.premium_compress_xref DROP
 CONSTRAINT pk_premium_compress_xref;

ALTER TABLE rein.premium_deposit DROP
 CONSTRAINT pk_premium_deposit;

ALTER TABLE rein.premium_direct DROP
 CONSTRAINT pk_premium_direct;

ALTER TABLE rein.premium_direct_entry1 DROP
 CONSTRAINT pk_premium_direct_entry1;

ALTER TABLE rein.premium_direct_entry2 DROP
 CONSTRAINT pk_premium_direct_entry2;

ALTER TABLE rein.premium_direct_entry3 DROP
 CONSTRAINT pk_premium_direct_entry3;

ALTER TABLE rein.premium_direct_support_data DROP
 CONSTRAINT pk_premium_direct_support_data;

ALTER TABLE rein.premium_manual1 DROP
 CONSTRAINT pk_premium_manual1;

ALTER TABLE rein.premium_manual2 DROP
 CONSTRAINT pk_premium_manual2;

ALTER TABLE rein.premium_manual3 DROP
 CONSTRAINT pk_premium_manual3;

ALTER TABLE rein.premium_manual4 DROP
 CONSTRAINT pk_premium_manual4;

ALTER TABLE rein.premium_paid DROP
 CONSTRAINT pk_premium_paid;

ALTER TABLE rein.premium_paid_correlation DROP
 CONSTRAINT pk_premium_paid_correlation;

ALTER TABLE rein.premium_stat DROP
 CONSTRAINT pk_premium_stat;

ALTER TABLE rein.premium_support_data DROP
 CONSTRAINT pk_premium_support_data;

ALTER TABLE rein.process_dates DROP
 CONSTRAINT pk_process_dates;

ALTER TABLE rein.process_history DROP
 CONSTRAINT pk_process_history;

ALTER TABLE rein.process_status DROP
 CONSTRAINT pk_process_status;

ALTER TABLE rein.reinsurerstate_ref DROP
 CONSTRAINT pk_reinsurerstate_ref;

ALTER TABLE rein.scbkprt DROP
 CONSTRAINT pk_scbkprt;

ALTER TABLE rein.scbroker DROP
 CONSTRAINT pk_scbroker;

ALTER TABLE rein.sccause DROP
 CONSTRAINT pk_sccause;

ALTER TABLE rein.sccritm2 DROP
 CONSTRAINT pk_sccritm2;

ALTER TABLE rein.schedule_f_manual DROP
 CONSTRAINT pk_schedule_f_manual;

ALTER TABLE rein.schedule_f_states DROP
 CONSTRAINT pk_schedule_f_states;

ALTER TABLE rein.schedule_f1 DROP
 CONSTRAINT pk_schedule_f1;

ALTER TABLE rein.schedule_f2 DROP
 CONSTRAINT pk_schedule_f2;

ALTER TABLE rein.schedule_p DROP
 CONSTRAINT pk_schedule_p;

ALTER TABLE rein.schedule_p_manual DROP
 CONSTRAINT pk_schedule_p_manual;

ALTER TABLE rein.scinj DROP
 CONSTRAINT pk_scinj;

ALTER TABLE rein.scudf DROP
 CONSTRAINT pk_scudf;

ALTER TABLE rein.security_group_detail DROP
 CONSTRAINT pk_security_group_detail;

ALTER TABLE rein.security_group_summary DROP
 CONSTRAINT pk_security_group_summary;

ALTER TABLE rein.security_userid DROP
 CONSTRAINT pk_security_userid;

ALTER TABLE rein.sliding_scale DROP
 CONSTRAINT pk_sliding_scale;

ALTER TABLE rein.spooler_detail DROP
 CONSTRAINT pk_spooler_detail;

ALTER TABLE rein.spooler_summary DROP
 CONSTRAINT pk_spooler_summary;

ALTER TABLE rein.states DROP
 CONSTRAINT pk_states;

ALTER TABLE rein.sub_contract DROP
 CONSTRAINT pk_sub_contract;

ALTER TABLE rein.trancode DROP
 CONSTRAINT pk_trancode;

ALTER TABLE rein.treaty_history_audit DROP
 CONSTRAINT pk_treaty_history_audit;

ALTER TABLE rein.treaty_history_summ DROP
 CONSTRAINT pk_treaty_history_summ;

ALTER TABLE rein.udf_values DROP
 CONSTRAINT pk_udf_values;

ALTER TABLE rein.udfcrit DROP
 CONSTRAINT pk_udfcrit;

ALTER TABLE rein.agg_subject_direct DROP
 CONSTRAINT pk_agg_subject_direct;

ALTER TABLE rein.agg_subject_loss DROP
 CONSTRAINT pk_agg_subject_loss;

ALTER TABLE rein.asset_type DROP
 CONSTRAINT pk_asset_type;

ALTER TABLE rein.banks DROP
 CONSTRAINT pk_banks;


/****** Object:  Table rein.batch_maint    Script Date: 08/28/2009 12:00:46 ******/

ALTER TABLE rein.batch_maint ADD
 CONSTRAINT pk_batch_maint PRIMARY KEY
(
	batch_id
);

/****** Object:  Table rein.bill_settings    Script Date: 08/28/2009 12:00:55 ******/

ALTER TABLE rein.bill_settings ADD
 CONSTRAINT pk_bill_settings PRIMARY KEY
(
	bill_type
);

/****** Object:  Table rein.broker    Script Date: 08/28/2009 12:01:01 ******/

ALTER TABLE rein.broker ADD
 CONSTRAINT pk_broker PRIMARY KEY
(
	broker
);

/****** Object:  Table rein.cash_app    Script Date: 08/28/2009 12:01:09 ******/

ALTER TABLE rein.cash_app ADD
 CONSTRAINT pk_cash_app PRIMARY KEY 
(
	key_value
);

CREATE INDEX rein.idx_cash_app3 ON rein.cash_app
(
	cession_number
);

CREATE INDEX rein.idx_cash_app1 ON rein.cash_app
(
	batch_id
);

CREATE INDEX rein.idx_cash_app10 ON rein.cash_app
(
	reversal_id
);

CREATE INDEX rein.idx_cash_app2 ON rein.cash_app
(
	cash_rcpt_number
);

CREATE INDEX rein.idx_cash_app4 ON rein.cash_app
(
	acct_date
);

CREATE INDEX rein.idx_cash_app5 ON rein.cash_app
(
	payment_number
);

CREATE INDEX rein.idx_cash_app6 ON rein.cash_app
(
	company
);

CREATE INDEX rein.idx_cash_app7 ON rein.cash_app
(
	tran_code
);

CREATE INDEX rein.idx_cash_app8 ON rein.cash_app
(
	date_issued
);

CREATE INDEX rein.idx_cash_app9 ON rein.cash_app
(
	date_received
);

/****** Object:  Table rein.cash_app_temp    Script Date: 08/28/2009 12:01:15 ******/

ALTER TABLE rein.cash_app_temp ADD
 CONSTRAINT pk_cash_app_temp PRIMARY KEY 
(
	key_value
);

CREATE INDEX rein.idx_cash_app_temp3 ON rein.cash_app_temp
(
	cession_number
);

CREATE INDEX rein.idx_cash_app_temp1 ON rein.cash_app_temp
(
	batch_id
);

CREATE INDEX rein.idx_cash_app_temp2 ON rein.cash_app_temp
(
	cash_rcpt_number
);

CREATE INDEX rein.idx_cash_app_temp4 ON rein.cash_app_temp
(
	acct_date
);

CREATE INDEX rein.idx_cash_app_temp5 ON rein.cash_app_temp
(
	payment_number
);

CREATE INDEX rein.idx_cash_app_temp6 ON rein.cash_app_temp
(
	company
);

CREATE INDEX rein.idx_cash_app_temp7 ON rein.cash_app_temp
(
	tran_code
);

CREATE INDEX rein.idx_cash_app_temp8 ON rein.cash_app_temp
(
	date_issued
);

CREATE INDEX rein.idx_cash_app_temp9 ON rein.cash_app_temp
(
	date_received
);

/****** Object:  Table rein.cash_app_work    (temp table) Script Date: 08/28/2009 12:01:09 ******/

ALTER TABLE rein.cash_app_work ADD
 CONSTRAINT pk_cash_app_work PRIMARY KEY 
(
	cession_number
);

/****** Object:  Table rein.cause    Script Date: 08/28/2009 12:01:16 ******/

ALTER TABLE rein.cause ADD
 CONSTRAINT pk_cause PRIMARY KEY 
(
	cause_code
);

/****** Object:  Table rein.ceded_claim    Script Date: 08/28/2009 12:01:32 ******/

ALTER TABLE rein.ceded_claim ADD
 CONSTRAINT pk_ceded_claim PRIMARY KEY 
(
	ceded_claim_id
);

CREATE INDEX rein.idx_ceded_claim3 ON rein.ceded_claim
(
	clstat_id
);

CREATE INDEX rein.idx_ceded_claim1 ON rein.ceded_claim
(
	master_claim,
	claim,
	claimant
);

CREATE INDEX rein.idx_ceded_claim10 ON rein.ceded_claim
(
	cession_number
);

CREATE INDEX rein.idx_ceded_claim11 ON rein.ceded_claim
(
	billing_invoice
);

CREATE INDEX rein.idx_ceded_claim12 ON rein.ceded_claim
(
	paid_in_full_date
);

CREATE INDEX rein.idx_ceded_claim13 ON rein.ceded_claim
(
	contract
);

CREATE INDEX rein.idx_ceded_claim14 ON rein.ceded_claim
(
	sub_contract
);

CREATE INDEX rein.idx_ceded_claim15 ON rein.ceded_claim
(
	fac_coverage_id
);

CREATE INDEX rein.idx_ceded_claim16 ON rein.ceded_claim
(
	company
);

CREATE INDEX rein.idx_ceded_claim17 ON rein.ceded_claim
(
	tran_code
);

CREATE INDEX rein.idx_ceded_claim2 ON rein.ceded_claim
(
	clcrit_id
);

CREATE INDEX rein.idx_ceded_claim4 ON rein.ceded_claim
(
	clmtloc_id
);

CREATE INDEX rein.idx_ceded_claim5 ON rein.ceded_claim
(
	acct_date
);

CREATE INDEX rein.idx_ceded_claim6 ON rein.ceded_claim
(
	contract_policy_id
);

CREATE INDEX rein.idx_ceded_claim7 ON rein.ceded_claim
(
	sub_contract_certificate_id
);

CREATE INDEX rein.idx_ceded_claim8 ON rein.ceded_claim
(
	reinsurer
);

CREATE INDEX rein.idx_ceded_claim9 ON rein.ceded_claim
(
	reinsurer_id
);

/****** Object:  Table rein.ceded_claim2    Script Date: 08/28/2009 12:01:35 ******/

ALTER TABLE rein.ceded_claim2 ADD
 CONSTRAINT pk_ceded_claim2 PRIMARY KEY 
(
	ceded_claim2_id
);

CREATE INDEX rein.idx_ceded_claim21 ON rein.ceded_claim2
(
	billing_invoice
);

/****** Object:  Table rein.ceding_criteria    Script Date: 08/28/2009 12:01:41 ******/

ALTER TABLE rein.ceding_criteria ADD
 CONSTRAINT pk_ceding_criteria PRIMARY KEY 
(
	ceding_criteria_id
);

/****** Object:  Table rein.cession_subject_claim    Script Date: 08/28/2009 12:01:47 ******/

ALTER TABLE rein.cession_subject_claim ADD
 CONSTRAINT pk_cession_subject_claim PRIMARY KEY 
(
	cession_subject_claim_id
);

CREATE INDEX rein.idx_cession_subject_claim1 ON rein.cession_subject_claim
(
	clstat_id
);

CREATE INDEX rein.idx_cession_subject_claim2 ON rein.cession_subject_claim
(
	contract_policy_id
);

CREATE INDEX rein.idx_cession_subject_claim3 ON rein.cession_subject_claim
(
	sub_contract_certificate_id
);

CREATE INDEX rein.idx_cession_subject_claim4 ON rein.cession_subject_claim
(
	clcrit_id
);

/****** Object:  Table rein.cession_subject_premium    Script Date: 08/28/2009 12:01:52 ******/

ALTER TABLE rein.cession_subject_premium ADD
 CONSTRAINT pk_cession_subject_premium PRIMARY KEY 
(
	cession_subject_premium_id
);

CREATE INDEX rein.idx_cession_subject_premium1 ON rein.cession_subject_premium
(
	premium_stat_id
);

CREATE INDEX rein.idx_cession_subject_premium2 ON rein.cession_subject_premium
(
	contract_policy_id
);

CREATE INDEX rein.idx_cession_subject_premium3 ON rein.cession_subject_premium
(
	sub_contract_certificate_id
);

CREATE INDEX rein.idx_cession_subject_premium4 ON rein.cession_subject_premium
(
	premium_direct_id
);

/****** Object:  Table rein.claim_direct_entry1    Script Date: 08/28/2009 12:01:55 ******/

ALTER TABLE rein.claim_direct_entry1 ADD
 CONSTRAINT pk_claim_direct_entry1 PRIMARY KEY 
(
	claim_direct_entry1_id
);

/****** Object:  Table rein.claim_direct_entry2    Script Date: 08/28/2009 12:02:05 ******/

ALTER TABLE rein.claim_direct_entry2 ADD
 CONSTRAINT pk_claim_direct_entry2 PRIMARY KEY 
(
	claim_direct_entry2_id
);

/****** Object:  Table rein.claim_direct_entry3    Script Date: 08/28/2009 12:02:11 ******/

ALTER TABLE rein.claim_direct_entry3 ADD
 CONSTRAINT pk_claim_direct_entry3 PRIMARY KEY 
(
	claim_direct_entry3_id
);

/****** Object:  Table rein.claim_direct_entry4    Script Date: 08/28/2009 12:02:21 ******/

ALTER TABLE rein.claim_direct_entry4 ADD
 CONSTRAINT pk_claim_direct_entry4 PRIMARY KEY 
(
	claim_direct_entry4_id
);

/****** Object:  Table rein.claim_direct_support_data    Script Date: 08/28/2009 12:03:09 ******/

ALTER TABLE rein.claim_direct_support_data ADD
 CONSTRAINT pk_claim_direct_support_data PRIMARY KEY 
(
	claim_direct_support_data_id
);

CREATE INDEX rein.idx_claim_direct_support_data1 ON rein.claim_direct_support_data
(
	clstat_id
);

CREATE INDEX rein.idx_claim_direct_support_data2 ON rein.claim_direct_support_data
(
	clcrit_id,
	acct_date
);

CREATE INDEX rein.idx_claim_direct_support_data3 ON rein.claim_direct_support_data
(
	clmtloc_id
);

/****** Object:  Table rein.claim_manual1    Script Date: 08/28/2009 12:02:25 ******/

ALTER TABLE rein.claim_manual1 ADD
 CONSTRAINT pk_claim_manual1 PRIMARY KEY 
(
	claim_manual1_id
);

/****** Object:  Table rein.claim_manual2    Script Date: 08/28/2009 12:02:30 ******/

ALTER TABLE rein.claim_manual2 ADD
 CONSTRAINT pk_claim_manual2 PRIMARY KEY 
(
	claim_manual2_id
);

/****** Object:  Table rein.claim_manual3    Script Date: 08/28/2009 12:02:43 ******/

ALTER TABLE rein.claim_manual3 ADD
 CONSTRAINT pk_claim_manual3 PRIMARY KEY 
(
	claim_manual3_id
);

/****** Object:  Table rein.claim_manual4    Script Date: 08/28/2009 12:02:53 ******/

ALTER TABLE rein.claim_manual4 ADD
 CONSTRAINT pk_claim_manual4 PRIMARY KEY 
(
	claim_manual4_id
);

/****** Object:  Table rein.claim_manual5    Script Date: 08/28/2009 12:02:59 ******/

ALTER TABLE rein.claim_manual5 ADD
 CONSTRAINT pk_claim_manual5 PRIMARY KEY 
(
	claim_manual5_id
);

/****** Object:  Table rein.claim_status    Script Date: 08/28/2009 12:03:03 ******/

ALTER TABLE rein.claim_status ADD
 CONSTRAINT pk_claim_status PRIMARY KEY 
(
	claim_status_id
);

CREATE INDEX rein.idx_claim_status1 ON rein.claim_status
(
	master_claim,
	claim
);

CREATE INDEX rein.idx_claim_status2 ON rein.claim_status
(
	clstat_id,
	acct_date
);

/****** Object:  Table rein.claim_support_data    Script Date: 08/28/2009 12:03:09 ******/

ALTER TABLE rein.claim_support_data ADD
 CONSTRAINT pk_claim_support_data PRIMARY KEY 
(
	claim_support_data_id
);

CREATE INDEX rein.idx_claim_support_data1 ON rein.claim_support_data
(
	clstat_id,
	acct_date
);

/****** Object:  Table rein.claimant_support_data    Script Date: 08/28/2009 12:03:16 ******/

ALTER TABLE rein.claimant_support_data ADD
 CONSTRAINT pk_claimant_support_data PRIMARY KEY 
(
	claimant_support_data_id
);

CREATE INDEX rein.idx_claimant_support_data1 ON rein.claimant_support_data
(
	clstat_id
);

CREATE INDEX rein.idx_claimant_support_data2 ON rein.claimant_support_data
(
	clmtloc_id,
	acct_date
);

/****** Object:  Table rein.clause    Script Date: 08/28/2009 12:03:17 ******/

ALTER TABLE rein.clause ADD
 CONSTRAINT pk_clause PRIMARY KEY 
(
	clause_code
);

/****** Object:  Table rein.clcrit    Script Date: 08/28/2009 12:03:26 ******/

ALTER TABLE rein.clcrit ADD
 CONSTRAINT pk_clcrit PRIMARY KEY 
(
	clcrit_id
);

CREATE INDEX rein.idx_clcrit1 ON rein.clcrit
(
	master_claim,
	claim,
	claimant
);

CREATE INDEX rein.idx_clcrit2 ON rein.clcrit
(
	clstat_id
);

CREATE INDEX rein.idx_clcrit3 ON rein.clcrit
(
	clmtloc_id,
	acct_date
);

CREATE INDEX rein.idx_clcrit4 ON rein.clcrit
(
	ceding_criteria_id
);

/****** Object:  Table rein.clmtloc    Script Date: 08/28/2009 12:03:32 ******/

ALTER TABLE rein.clmtloc ADD
 CONSTRAINT pk_clmtloc PRIMARY KEY 
(
	clmtloc_id
);

CREATE INDEX rein.idx_clmtloc1 ON rein.clmtloc
(
	master_claim,
	claim,
	claimant
);

CREATE INDEX rein.idx_clmtloc2 ON rein.clmtloc
(
	clstat_id
);

/****** Object:  Table rein.clstat    Script Date: 08/28/2009 12:03:43 ******/

ALTER TABLE rein.clstat ADD
 CONSTRAINT pk_clstat PRIMARY KEY 
(
	clstat_id
);

CREATE INDEX rein.idx_clstat1 ON rein.clstat
(
	master_claim,
	claim
);

CREATE INDEX rein.idx_clstat2 ON rein.clstat
(
	policy_number
);

CREATE INDEX rein.idx_clstat3 ON rein.clstat
(
	premium_stat_id
);

CREATE INDEX rein.idx_clstat4 ON rein.clstat
(
	company
);

CREATE INDEX rein.idx_clstat5 ON rein.clstat
(
	cat_code
);

/****** Object:  Table rein.collatrl    Script Date: 08/28/2009 12:03:47 ******/

ALTER TABLE rein.collatrl ADD
 CONSTRAINT pk_collatrl PRIMARY KEY 
(
	company,
	contract,
	sub_contract,
	participant,
	broker,
	sub_broker,
	asset_type_code,
	history_count,
	acct_date
);

/****** Object:  Table rein.company    Script Date: 08/28/2009 12:03:56 ******/

ALTER TABLE rein.company ADD
 CONSTRAINT pk_company PRIMARY KEY 
(
	company
);

/****** Object:  Table rein.contact    Script Date: 08/28/2009 12:04:03 ******/

ALTER TABLE rein.contact ADD
 CONSTRAINT pk_contact PRIMARY KEY 
(
	contact_id
);

/****** Object:  Table rein.current_release    Script Date: 08/28/2009 12:04:05 ******/

ALTER TABLE rein.current_release ADD
 CONSTRAINT pk_current_release PRIMARY KEY 
(
	db_version,
	db_build
);

/****** Object:  Table rein.diary_item    Script Date: 08/28/2009 12:04:09 ******/

ALTER TABLE rein.diary_item ADD
 CONSTRAINT pk_diary_item PRIMARY KEY 
(
	diary_item_id
);

/****** Object:  Table rein.fac_broker    Script Date: 08/28/2009 12:04:13 ******/

ALTER TABLE rein.fac_broker ADD
 CONSTRAINT pk_fac_broker PRIMARY KEY 
(
	fac_broker_id
);

CREATE INDEX rein.idx_fac_broker1 ON rein.fac_broker
(
	fac_certificate_id
);

CREATE INDEX rein.idx_fac_broker2 ON rein.fac_broker
(
	broker
);

/****** Object:  Table rein.fac_certificate    Script Date: 08/28/2009 12:04:29 ******/

ALTER TABLE rein.fac_certificate ADD
 CONSTRAINT pk_fac_certificate PRIMARY KEY 
(
	fac_certificate_id
);

CREATE INDEX rein.idx_fac_certificate1 ON rein.fac_certificate
(
	fac_policy_id
);

CREATE INDEX rein.idx_fac_certificate2 ON rein.fac_certificate
(
	certificate
);

/****** Object:  Table rein.fac_coverage    Script Date: 08/28/2009 12:04:34 ******/

ALTER TABLE rein.fac_coverage ADD
 CONSTRAINT pk_fac_coverage PRIMARY KEY 
(
	fac_coverage_id
);

CREATE INDEX rein.idx_fac_coverage1 ON rein.fac_coverage
(
	fac_certificate_id
);

/****** Object:  Table rein.fac_criteria    Script Date: 08/28/2009 12:04:38 ******/

ALTER TABLE rein.fac_criteria ADD
 CONSTRAINT pk_fac_criteria PRIMARY KEY 
(
	fac_criteria_id
);

CREATE INDEX rein.idx_fac_criteria1 ON rein.fac_criteria
(
	fac_certificate_id
);

CREATE INDEX rein.idx_fac_criteria2 ON rein.fac_criteria
(
	fac_coverage_id
);

/****** Object:  Table rein.fac_history_audit    Script Date: 08/28/2009 12:04:42 ******/

ALTER TABLE rein.fac_history_audit ADD
 CONSTRAINT pk_fac_history_audit PRIMARY KEY 
(
	fac_history_audit_id
);

CREATE INDEX rein.idx_fac_history_audit1 ON rein.fac_history_audit
(
	fac_history_summ_id
);

/****** Object:  Table rein.fac_history_summ    Script Date: 08/28/2009 12:04:46 ******/

ALTER TABLE rein.fac_history_summ ADD
 CONSTRAINT pk_fac_history_summ PRIMARY KEY 
(
	fac_history_summ_id
);

CREATE INDEX rein.idx_fac_history_summ1 ON rein.fac_history_summ
(
	fac_policy_id
);

CREATE INDEX rein.idx_fac_history_summ2 ON rein.fac_history_summ
(
	fac_certificate_id
);

/****** Object:  Table rein.fac_injury_cause    Script Date: 08/28/2009 12:04:49 ******/

ALTER TABLE rein.fac_injury_cause ADD
 CONSTRAINT pk_fac_injury_cause PRIMARY KEY 
(
	fac_injury_cause_id
);

CREATE INDEX rein.idx_fac_injury_cause1 ON rein.fac_injury_cause
(
	fac_certificate_id
);

/****** Object:  Table rein.fac_policy    Script Date: 08/28/2009 12:04:53 ******/

ALTER TABLE rein.fac_policy ADD
 CONSTRAINT pk_fac_policy PRIMARY KEY 
(
	fac_policy_id
);

CREATE INDEX rein.idx_fac_policy1 ON rein.fac_policy
(
	policy_number
);

/****** Object:  Table rein.fac_reinsurer    Script Date: 08/28/2009 12:04:59 ******/

ALTER TABLE rein.fac_reinsurer ADD
 CONSTRAINT pk_fac_reinsurer PRIMARY KEY 
(
	fac_reinsurer_id
);

CREATE INDEX rein.idx_fac_reinsurer1 ON rein.fac_reinsurer
(
	fac_broker_id
);

CREATE INDEX rein.idx_fac_reinsurer2 ON rein.fac_reinsurer
(
	fac_certificate_id
);

CREATE INDEX rein.idx_fac_reinsurer3 ON rein.fac_reinsurer
(
	reinsurer
);

/****** Object:  Table rein.fac_udf    Script Date: 08/28/2009 12:05:03 ******/

ALTER TABLE rein.fac_udf ADD
 CONSTRAINT pk_fac_udf PRIMARY KEY 
(
	fac_udf_id
);

CREATE INDEX rein.idx_fac_udf1 ON rein.fac_udf
(
	fac_criteria_id
);

CREATE INDEX rein.idx_fac_udf2 ON rein.fac_udf
(
	fac_certificate_id
);

/****** Object:  Table rein.html_help    Script Date: 08/28/2009 12:05:04 ******/

ALTER TABLE rein.html_help ADD
 CONSTRAINT pk_html_help PRIMARY KEY 
(
	class_name,
	file_name,
	file_description
);

/****** Object:  Table rein.ibnr_new    Script Date: 08/28/2009 12:05:07 ******/

ALTER TABLE rein.ibnr_new ADD
 CONSTRAINT pk_ibnr_new PRIMARY KEY 
(
	company,
	contract,
	sub_contract,
	asline_code,
	loss_year,
	acct_date
);

/****** Object:  Table rein.ibnr_rein_new    Script Date: 08/28/2009 12:05:11 ******/

ALTER TABLE rein.ibnr_rein_new ADD
 CONSTRAINT pk_ibnr_rein_new PRIMARY KEY 
(
	company,
	contract,
	sub_contract,
	asline_code,
	broker,
	sub_broker,
	reinsurer,
	loss_year,
	acct_date
);

/****** Object:  Table rein.id_table    Script Date: 08/28/2009 12:05:12 ******/

ALTER TABLE rein.id_table ADD
 CONSTRAINT pk_id_table PRIMARY KEY 
(
	id_code
);

/****** Object:  Table rein.injury    Script Date: 08/28/2009 12:05:13 ******/

ALTER TABLE rein.injury ADD
 CONSTRAINT pk_injury PRIMARY KEY 
(
	injury_code
);

/****** Object:  Table rein.interface_assignment    Script Date: 08/28/2009 12:05:15 ******/

ALTER TABLE rein.interface_assignment ADD
 CONSTRAINT pk_interface_assignment PRIMARY KEY 
(
	assignment_company,
	template_id,
	class_type,
	interface_type
);

/****** Object:  Table rein.interface_columns    Script Date: 08/28/2009 12:05:18 ******/

ALTER TABLE rein.interface_columns ADD
 CONSTRAINT pk_interface_columns PRIMARY KEY 
(
	category_type,
	class_type,
	interface_type,
	alias_column_name
);

/****** Object:  Table rein.interface_format    Script Date: 08/28/2009 12:05:23 ******/

ALTER TABLE rein.interface_format ADD
 CONSTRAINT pk_interface_format PRIMARY KEY 
(
	template_id,
	tran_category,
	amount_item,
	account_type,
	out_start_position
);

/****** Object:  Table rein.interface_layout    Script Date: 08/28/2009 12:05:25 ******/

ALTER TABLE rein.interface_layout ADD
 CONSTRAINT pk_interface_layout PRIMARY KEY 
(
	template_id,
	column_name,
	start_position,
	layout_type
);

/****** Object:  Table rein.interface_literal_detail    Script Date: 08/28/2009 12:05:29 ******/

ALTER TABLE rein.interface_literal_detail ADD
 CONSTRAINT pk_interface_literal_detail PRIMARY KEY 
(
	literal_id,
	seq
);

/****** Object:  Table rein.interface_literal_summary    Script Date: 08/28/2009 12:05:31 ******/

ALTER TABLE rein.interface_literal_summary ADD
 CONSTRAINT pk_interface_literal_summary PRIMARY KEY 
(
	literal_id
);

/****** Object:  Table rein.interface_template    Script Date: 08/28/2009 12:05:35 ******/

ALTER TABLE rein.interface_template ADD
 CONSTRAINT pk_interface_template PRIMARY KEY 
(
	template_id
);

/****** Object:  Table rein.interface_tran_category    Script Date: 08/28/2009 12:05:38 ******/

ALTER TABLE rein.interface_tran_category ADD
 CONSTRAINT pk_interface_tran_category PRIMARY KEY 
(
	template_id,
	tran_category,
	amount_item,
	account_type
);

/****** Object:  Table rein.loc_cont_reins    Script Date: 08/28/2009 12:05:41 ******/

ALTER TABLE rein.loc_cont_reins ADD
 CONSTRAINT pk_loc_cont_reins PRIMARY KEY 
(
	loc_cont_reins_id
);

/****** Object:  Table rein.loc_data    Script Date: 08/28/2009 12:05:46 ******/

ALTER TABLE rein.loc_data ADD
 CONSTRAINT pk_loc_data PRIMARY KEY 
(
	loc_number,
	issuing_bank_code,
	history_count
);

/****** Object:  Table rein.loss_notice1    Script Date: 08/28/2009 12:05:55 ******/

ALTER TABLE rein.loss_notice1 ADD
 CONSTRAINT pk_loss_notice1 PRIMARY KEY 
(
	loss_notice1_id
);

CREATE INDEX rein.idx_loss_notice11 ON rein.loss_notice1
(
	contract_policy_id
);

CREATE INDEX rein.idx_loss_notice12 ON rein.loss_notice1
(
	sub_contract_certificate_id
);

CREATE INDEX rein.idx_loss_notice13 ON rein.loss_notice1
(
	acct_date
);

/****** Object:  Table rein.loss_notice2    Script Date: 08/28/2009 12:05:55 ******/

ALTER TABLE rein.loss_notice2 ADD
 CONSTRAINT pk_loss_notice2 PRIMARY KEY 
(
	loss_notice2_id
);

CREATE INDEX rein.idx_loss_notice21 ON rein.loss_notice2
(
	loss_notice1_id
);

CREATE INDEX rein.idx_loss_notice22 ON rein.loss_notice2
(
	clstat_id
);

CREATE INDEX rein.idx_loss_notice23 ON rein.loss_notice2
(
	clmtloc_id
);

CREATE INDEX rein.idx_loss_notice24 ON rein.loss_notice2
(
	claimant_support_data_id
);

CREATE INDEX rein.idx_loss_notice25 ON rein.loss_notice2
(
	claim_status_id
);

/****** Object:  Table rein.loss_notice_work1    (temp table) Script Date: 08/28/2009 12:05:55 ******/

ALTER TABLE rein.loss_notice_work1 ADD
 CONSTRAINT pk_loss_notice_work1 PRIMARY KEY 
(
	clstat_id,
	clmtloc_id
);

CREATE INDEX rein.idx_loss_notice_work11 ON rein.loss_notice_work1
(
	clcrit_id
);

CREATE INDEX rein.idx_loss_notice_work12 ON rein.loss_notice_work1
(
	claim_status_id
);

/****** Object:  Table rein.master_contg_ibnr    Script Date: 08/28/2009 12:05:58 ******/

ALTER TABLE rein.master_contg_ibnr ADD
 CONSTRAINT pk_master_contg_ibnr PRIMARY KEY 
(
	master_contg_ibnr_id
);

CREATE INDEX rein.idx_master_contg_ibnr1 ON rein.master_contg_ibnr
(
	master_contract_id
);

/****** Object:  Table rein.master_contract    Script Date: 08/28/2009 12:06:31 ******/

ALTER TABLE rein.master_contract ADD
 CONSTRAINT pk_master_contract PRIMARY KEY 
(
	master_contract_id
);

CREATE INDEX rein.idx_master_contract1 ON rein.master_contract
(
	contract
);

/****** Object:  Table rein.mcclause    Script Date: 08/28/2009 12:06:34 ******/

ALTER TABLE rein.mcclause ADD
 CONSTRAINT pk_mcclause PRIMARY KEY 
(
	mcclause_id
);

CREATE INDEX rein.idx_mcclause1 ON rein.mcclause
(
	master_contract_id
);

/****** Object:  Table rein.naic_information    Script Date: 08/28/2009 12:06:40 ******/

ALTER TABLE rein.naic_information ADD
 CONSTRAINT pk_naic_information PRIMARY KEY 
(
	naic_information_id
);

CREATE INDEX rein.idx_naic_information1 ON rein.naic_information
(
	naic_number
);

CREATE INDEX rein.idx_naic_information2 ON rein.naic_information
(
	federal_id_number
);

/****** Object:  Table rein.note    Script Date: 08/28/2009 12:06:43 ******/

ALTER TABLE rein.note ADD
 CONSTRAINT pk_note PRIMARY KEY 
(
	note_id
);

/****** Object:  Table rein.participant    Script Date: 08/28/2009 12:06:52 ******/

ALTER TABLE rein.participant ADD
 CONSTRAINT pk_participant PRIMARY KEY 
(
	participant
);

/****** Object:  Table rein.pferrormsg    Script Date: 08/28/2009 12:06:55 ******/

ALTER TABLE rein.pferrormsg ADD
 CONSTRAINT pk_pferrormsg PRIMARY KEY 
(
	error_num
);

/****** Object:  Table rein.premium_archive1    Script Date: 08/28/2009 12:06:57 ******/

ALTER TABLE rein.premium_archive1 ADD
 CONSTRAINT pk_premium_archive1 PRIMARY KEY 
(
	premium_archive1_id
);

/****** Object:  Table rein.premium_archive2    Script Date: 08/28/2009 12:07:00 ******/

ALTER TABLE rein.premium_archive2 ADD
 CONSTRAINT pk_premium_archive2 PRIMARY KEY 
(
	premium_archive2_id
);

CREATE INDEX rein.idx_premium_archive21 ON rein.premium_archive2
(
	premium_archive1_id
);

CREATE INDEX rein.idx_premium_archive22 ON rein.premium_archive2
(
	premium_stat_id
);

/****** Object:  Table rein.premium_archive3    Script Date: 08/28/2009 12:07:09 ******/

ALTER TABLE rein.premium_archive3 ADD
 CONSTRAINT pk_premium_archive3 PRIMARY KEY 
(
	premium_archive3_id
);

CREATE INDEX rein.idx_premium_archive31 ON rein.premium_archive3
(
	premium_archive2_id
);

CREATE INDEX rein.idx_premium_archive32 ON rein.premium_archive3
(
	premium_archive1_id
);

CREATE INDEX rein.idx_premium_archive33 ON rein.premium_archive3
(
	premium_ceded1_id
);

CREATE INDEX rein.idx_premium_archive34 ON rein.premium_archive3
(
	premium_direct_id
);

CREATE INDEX rein.idx_premium_archive35 ON rein.premium_archive3
(
	premium_paid_id
);

CREATE INDEX rein.idx_premium_archive36 ON rein.premium_archive3
(
	premium_paid_offset_id
);

CREATE INDEX rein.idx_premium_archive37 ON rein.premium_archive3
(
	acct_date
);

CREATE INDEX rein.idx_premium_archive38 ON rein.premium_archive3
(
	premium_deposit_id
);

CREATE INDEX rein.idx_premium_archive39 ON rein.premium_archive3
(
	tran_code
);

/****** Object:  Table rein.premium_ceded1    Script Date: 08/28/2009 12:07:15 ******/

ALTER TABLE rein.premium_ceded1 ADD
 CONSTRAINT pk_premium_ceded1 PRIMARY KEY 
(
	premium_ceded1_id
);

CREATE INDEX rein.idx_premium_ceded11 ON rein.premium_ceded1
(
	premium_stat_id
);

CREATE INDEX rein.idx_premium_ceded12 ON rein.premium_ceded1
(
	contract_policy_id
);

CREATE INDEX rein.idx_premium_ceded13 ON rein.premium_ceded1
(
	sub_contract_certificate_id
);

CREATE INDEX rein.idx_premium_ceded14 ON rein.premium_ceded1
(
	reinsurer_id
);

CREATE INDEX rein.idx_premium_ceded15 ON rein.premium_ceded1
(
	broker
);

CREATE INDEX rein.idx_premium_ceded16 ON rein.premium_ceded1
(
	reinsurer
);

CREATE INDEX rein.idx_premium_ceded17 ON rein.premium_ceded1
(
	fac_coverage_id
);

CREATE INDEX rein.idx_premium_ceded18 ON rein.premium_ceded1
(
	company
);

/****** Object:  Table rein.premium_ceded2    Script Date: 08/28/2009 12:07:23 ******/

ALTER TABLE rein.premium_ceded2 ADD
 CONSTRAINT pk_premium_ceded2 PRIMARY KEY 
(
	premium_ceded2_id
);

CREATE INDEX rein.idx_premium_ceded21 ON rein.premium_ceded2
(
	premium_ceded1_id
);

CREATE INDEX rein.idx_premium_ceded22 ON rein.premium_ceded2
(
	premium_direct_id
);

CREATE INDEX rein.idx_premium_ceded23 ON rein.premium_ceded2
(
	premium_paid_id
);

CREATE INDEX rein.idx_premium_ceded24 ON rein.premium_ceded2
(
	premium_paid_offset_id
);

CREATE INDEX rein.idx_premium_ceded25 ON rein.premium_ceded2
(
	acct_date
);

CREATE INDEX rein.idx_premium_ceded26 ON rein.premium_ceded2
(
	premium_deposit_id
);

CREATE INDEX rein.idx_premium_ceded27 ON rein.premium_ceded2
(
	tran_code
);

/****** Object:  Table rein.premium_compress_xref    Script Date: 08/28/2009 12:07:25 ******/

ALTER TABLE rein.premium_compress_xref ADD
 CONSTRAINT pk_premium_compress_xref PRIMARY KEY 
(
	premium_stat_id_compress,
	premium_stat_id
);

/****** Object:  Table rein.premium_deposit    Script Date: 08/28/2009 12:07:29 ******/

ALTER TABLE rein.premium_deposit ADD
 CONSTRAINT pk_premium_deposit PRIMARY KEY 
(
	premium_deposit_id
);

CREATE INDEX rein.idx_premium_deposit1 ON rein.premium_deposit
(
	contract_policy_id
);

CREATE INDEX rein.idx_premium_deposit2 ON rein.premium_deposit
(
	sub_contract_certificate_id
);

/****** Object:  Table rein.premium_direct    Script Date: 08/28/2009 12:07:37 ******/

ALTER TABLE rein.premium_direct ADD
 CONSTRAINT pk_premium_direct PRIMARY KEY 
(
	premium_direct_id
);

CREATE INDEX rein.idx_premium_direct1 ON rein.premium_direct
(
	premium_stat_id
);

CREATE INDEX rein.idx_premium_direct2 ON rein.premium_direct
(
	ceding_criteria_id
);

/****** Object:  Table rein.premium_direct_entry1    Script Date: 08/28/2009 12:07:40 ******/

ALTER TABLE rein.premium_direct_entry1 ADD
 CONSTRAINT pk_premium_direct_entry1 PRIMARY KEY 
(
	premium_direct_entry1_id
);

/****** Object:  Table rein.premium_direct_entry2    Script Date: 08/28/2009 12:07:47 ******/

ALTER TABLE rein.premium_direct_entry2 ADD
 CONSTRAINT pk_premium_direct_entry2 PRIMARY KEY 
(
	premium_direct_entry2_id
);

/****** Object:  Table rein.premium_direct_entry3    Script Date: 08/28/2009 12:07:58 ******/

ALTER TABLE rein.premium_direct_entry3 ADD
 CONSTRAINT pk_premium_direct_entry3 PRIMARY KEY 
(
	premium_direct_entry3_id
);

/****** Object:  Table rein.premium_direct_support_data    Script Date: 08/28/2009 12:07:37 ******/

ALTER TABLE rein.premium_direct_support_data ADD
 CONSTRAINT pk_premium_direct_support_data PRIMARY KEY 
(
	premium_direct_support_data_id
);

CREATE INDEX rein.idx_premium_direct_supp_data1 ON rein.premium_direct_support_data
(
	premium_stat_id
);

CREATE INDEX rein.idx_premium_direct_supp_data2 ON rein.premium_direct_support_data
(
	premium_direct_id,
	acct_date
);

/****** Object:  Table rein.premium_manual1    Script Date: 08/28/2009 12:08:02 ******/

ALTER TABLE rein.premium_manual1 ADD
 CONSTRAINT pk_premium_manual1 PRIMARY KEY 
(
	premium_manual1_id
);

/****** Object:  Table rein.premium_manual2    Script Date: 08/28/2009 12:08:07 ******/

ALTER TABLE rein.premium_manual2 ADD
 CONSTRAINT pk_premium_manual2 PRIMARY KEY 
(
	premium_manual2_id
);

/****** Object:  Table rein.premium_manual3    Script Date: 08/28/2009 12:08:19 ******/

ALTER TABLE rein.premium_manual3 ADD
 CONSTRAINT pk_premium_manual3 PRIMARY KEY 
(
	premium_manual3_id
);

/****** Object:  Table rein.premium_manual4    Script Date: 08/28/2009 12:08:26 ******/

ALTER TABLE rein.premium_manual4 ADD
 CONSTRAINT pk_premium_manual4 PRIMARY KEY 
(
	premium_manual4_id
);

/****** Object:  Table rein.premium_paid    Script Date: 08/28/2009 12:08:32 ******/

ALTER TABLE rein.premium_paid ADD
 CONSTRAINT pk_premium_paid PRIMARY KEY 
(
	premium_paid_id
);

CREATE INDEX rein.idx_premium_paid1 ON rein.premium_paid
(
	premium_deposit_id
);

CREATE INDEX rein.idx_premium_paid2 ON rein.premium_paid
(
	voucher_number
);

CREATE INDEX rein.idx_premium_paid3 ON rein.premium_paid
(
	cash_rcpt_number
);

/****** Object:  Table rein.premium_paid_correlation    Script Date: 08/28/2009 12:08:33 ******/
ALTER TABLE rein.premium_paid_correlation ADD
 CONSTRAINT pk_premium_paid_correlation PRIMARY KEY 
(
	premium_paid_correlation_id
);

CREATE INDEX rein.idx_premium_paid_correlation1 ON rein.premium_paid_correlation
(
	premium_paid_id
);

CREATE INDEX rein.idx_premium_paid_correlation2 ON rein.premium_paid_correlation
(
	premium_paid_offset_id
);

/****** Object:  Table rein.premium_stat    Script Date: 08/28/2009 12:08:40 ******/

ALTER TABLE rein.premium_stat ADD
 CONSTRAINT pk_premium_stat PRIMARY KEY 
(
	premium_stat_id
);

CREATE INDEX rein.idx_premium_stat1 ON rein.premium_stat
(
	policy_number
);

CREATE INDEX rein.idx_premium_stat2 ON rein.premium_stat
(
	company
);

/****** Object:  Table rein.premium_support_data    Script Date: 08/28/2009 12:07:37 ******/

ALTER TABLE rein.premium_support_data ADD
 CONSTRAINT pk_premium_support_data PRIMARY KEY 
(
	premium_support_data_id
);

CREATE INDEX rein.idx_premium_support_data1 ON rein.premium_support_data
(
	premium_stat_id,
	acct_date
);

/****** Object:  Table rein.process_dates    Script Date: 08/28/2009 12:08:45 ******/

ALTER TABLE rein.process_dates ADD
 CONSTRAINT pk_process_dates PRIMARY KEY 
(
	process_dates_id
);

/****** Object:  Table rein.process_history    Script Date: 08/28/2009 12:08:48 ******/

ALTER TABLE rein.process_history ADD
 CONSTRAINT pk_process_history PRIMARY KEY 
(
	process_history_id
);

/****** Object:  Table rein.process_status    Script Date: 08/28/2009 12:08:50 ******/

ALTER TABLE rein.process_status ADD
 CONSTRAINT pk_process_status PRIMARY KEY 
(
	process_value
);

/****** Object:  Table rein.reinsurerstate_ref    Script Date: 08/28/2009 12:08:51 ******/

ALTER TABLE rein.reinsurerstate_ref ADD
 CONSTRAINT pk_reinsurerstate_ref PRIMARY KEY 
(
	reinsurer,
	state_code
);

/****** Object:  Table rein.scbkprt    Script Date: 08/28/2009 12:08:57 ******/

ALTER TABLE rein.scbkprt ADD
 CONSTRAINT pk_scbkprt PRIMARY KEY 
(
	scbkprt_id
);

CREATE INDEX rein.idx_scbkprt1 ON rein.scbkprt
(
	master_contract_id
);

CREATE INDEX rein.idx_scbkprt2 ON rein.scbkprt
(
	sub_contract_id
);

CREATE INDEX rein.idx_scbkprt3 ON rein.scbkprt
(
	reinsurer
);

CREATE INDEX rein.idx_scbkprt4 ON rein.scbkprt
(
	scbroker_id
);

/****** Object:  Table rein.scbroker    Script Date: 08/28/2009 12:09:00 ******/

ALTER TABLE rein.scbroker ADD
 CONSTRAINT pk_scbroker PRIMARY KEY 
(
	scbroker_id
);

CREATE INDEX rein.idx_scbroker1 ON rein.scbroker
(
	master_contract_id
);

CREATE INDEX rein.idx_scbroker2 ON rein.scbroker
(
	sub_contract_id
);

CREATE INDEX rein.idx_scbroker3 ON rein.scbroker
(
	broker
);

/****** Object:  Table rein.sccause    Script Date: 08/28/2009 12:06:32 ******/

ALTER TABLE rein.sccause ADD
 CONSTRAINT pk_sccause PRIMARY KEY 
(
	sccause_id
);

CREATE INDEX rein.idx_sccause1 ON rein.sccause
(
	master_contract_id
);

CREATE INDEX rein.idx_sccause2 ON rein.sccause
(
	sub_contract_id
);

/****** Object:  Table rein.sccritm2    Script Date: 08/28/2009 12:09:03 ******/

ALTER TABLE rein.sccritm2 ADD
 CONSTRAINT pk_sccritm2 PRIMARY KEY 
(
	sccritm2_id
);

CREATE INDEX rein.idx_sccritm21 ON rein.sccritm2
(
	master_contract_id
);

CREATE INDEX rein.idx_sccritm22 ON rein.sccritm2
(
	sub_contract_id
);

/****** Object:  Table rein.schedule_f_manual    Script Date: 08/28/2009 12:09:20 ******/

ALTER TABLE rein.schedule_f_manual ADD
 CONSTRAINT pk_schedule_f_manual PRIMARY KEY 
(
	schedule_f_manual_id
);

/****** Object:  Table rein.schedule_f_states    Script Date: 08/28/2009 12:09:21 ******/

ALTER TABLE rein.schedule_f_states ADD
 CONSTRAINT pk_schedule_f_states PRIMARY KEY 
(
	company,
	state_code
);

/****** Object:  Table rein.schedule_f1    Script Date: 08/28/2009 12:09:26 ******/

ALTER TABLE rein.schedule_f1 ADD
 CONSTRAINT pk_schedule_f1 PRIMARY KEY 
(
	schedule_f1_id
);

CREATE INDEX rein.idx_schedule_f11 ON rein.schedule_f1
(
	acct_date,
	state_code,
	company,
	reinsurer
);

/****** Object:  Table rein.schedule_f2    Script Date: 08/28/2009 12:09:35 ******/

ALTER TABLE rein.schedule_f2 ADD
 CONSTRAINT pk_schedule_f2 PRIMARY KEY 
(
	schedule_f2_id
);

CREATE INDEX rein.idx_schedule_f21 ON rein.schedule_f2
(
	schedule_f1_id
);

/****** Object:  Table rein.schedule_p    Script Date: 08/28/2009 12:09:48 ******/

ALTER TABLE rein.schedule_p ADD
 CONSTRAINT pk_schedule_p PRIMARY KEY 
(
	schedule_p_id
);

CREATE INDEX rein.idx_schedule_p1 ON rein.schedule_p
(
	acct_date,
	asline_code,
	company
);

/****** Object:  Table rein.schedule_p_manual    Script Date: 08/28/2009 12:10:01 ******/

ALTER TABLE rein.schedule_p_manual ADD
 CONSTRAINT pk_schedule_p_manual PRIMARY KEY 
(
	schedule_p_manual_id
);

/****** Object:  Table rein.scinj    Script Date: 08/28/2009 12:06:36 ******/

ALTER TABLE rein.scinj ADD
 CONSTRAINT pk_scinj PRIMARY KEY 
(
	scinj_id
);

CREATE INDEX rein.idx_scinj1 ON rein.scinj
(
	master_contract_id
);

CREATE INDEX rein.idx_scinj2 ON rein.scinj
(
	sub_contract_id
);

/****** Object:  Table rein.scudf    Script Date: 08/28/2009 12:10:05 ******/

ALTER TABLE rein.scudf ADD
 CONSTRAINT pk_scudf PRIMARY KEY 
(
	scudf_id
);

CREATE INDEX rein.idx_scudf1 ON rein.scudf
(
	master_contract_id
);

CREATE INDEX rein.idx_scudf2 ON rein.scudf
(
	sub_contract_id
);

CREATE INDEX rein.idx_scudf3 ON rein.scudf
(
	sccritm2_id
);

/****** Object:  Table rein.security_group_detail    Script Date: 08/28/2009 12:10:08 ******/

ALTER TABLE rein.security_group_detail ADD
 CONSTRAINT pk_security_group_detail PRIMARY KEY 
(
	group_id,
	item01,
	item02,
	item03,
	item04,
	item05
);

/****** Object:  Table rein.security_group_summary    Script Date: 08/28/2009 12:10:09 ******/

ALTER TABLE rein.security_group_summary ADD
 CONSTRAINT pk_security_group_summary PRIMARY KEY 
(
	group_id
);

/****** Object:  Table rein.security_userid    Script Date: 08/28/2009 12:10:15 ******/

ALTER TABLE rein.security_userid ADD
 CONSTRAINT pk_security_userid PRIMARY KEY 
(
	user_id
);

/****** Object:  Table rein.sliding_scale    Script Date: 08/28/2009 12:10:18 ******/

ALTER TABLE rein.sliding_scale ADD
 CONSTRAINT pk_sliding_scale PRIMARY KEY 
(
	sliding_scale_id
);

CREATE INDEX rein.idx_sliding_scale1 ON rein.sliding_scale
(
	master_contract_id
);

/****** Object:  Table rein.spooler_detail    Script Date: 08/28/2009 12:10:20 ******/

ALTER TABLE rein.spooler_detail ADD
 CONSTRAINT pk_spooler_detail PRIMARY KEY 
(
	spooler_detail_id
);

/****** Object:  Table rein.spooler_summary    Script Date: 08/28/2009 12:10:21 ******/

ALTER TABLE rein.spooler_summary ADD
 CONSTRAINT pk_spooler_summary PRIMARY KEY 
(
	spooler_summary_id
);

/****** Object:  Table rein.states    Script Date: 08/28/2009 12:10:23 ******/

ALTER TABLE rein.states ADD
 CONSTRAINT pk_states PRIMARY KEY 
(
	state_code
);

/****** Object:  Table rein.sub_contract    Script Date: 08/28/2009 12:10:40 ******/

ALTER TABLE rein.sub_contract ADD
 CONSTRAINT pk_sub_contract PRIMARY KEY 
(
	sub_contract_id
);

CREATE INDEX rein.idx_sub_contract1 ON rein.sub_contract
(
	master_contract_id
);

CREATE INDEX rein.idx_sub_contract2 ON rein.sub_contract
(
	sub_contract
);

/****** Object:  Table rein.trancode    Script Date: 08/28/2009 12:10:41 ******/

ALTER TABLE rein.trancode ADD
 CONSTRAINT pk_trancode PRIMARY KEY 
(
	tran_code
);

/****** Object:  Table rein.treaty_history_audit    Script Date: 08/28/2009 12:10:46 ******/

ALTER TABLE rein.treaty_history_audit ADD
 CONSTRAINT pk_treaty_history_audit PRIMARY KEY 
(
	treaty_history_audit_id
);

CREATE INDEX rein.idx_treaty_history_audit1 ON rein.treaty_history_audit
(
	treaty_history_summ_id
);

/****** Object:  Table rein.treaty_history_summ    Script Date: 08/28/2009 12:10:49 ******/

ALTER TABLE rein.treaty_history_summ ADD
 CONSTRAINT pk_treaty_history_summ PRIMARY KEY 
(
	treaty_history_summ_id
);

CREATE INDEX rein.idx_treaty_history_summ1 ON rein.treaty_history_summ
(
	master_contract_id
);

/****** Object:  Table rein.udf_values    Script Date: 08/28/2009 12:10:50 ******/

ALTER TABLE rein.udf_values ADD
 CONSTRAINT pk_udf_values PRIMARY KEY 
(
	udf_id,
	udf_code
);

/****** Object:  Table rein.udfcrit    Script Date: 08/28/2009 12:10:51 ******/

ALTER TABLE rein.udfcrit ADD
 CONSTRAINT pk_udfcrit PRIMARY KEY 
(
	udf_id
);

/****** Object:  Table rein.agg_subject_direct    Script Date: 08/28/2009 12:00:29 ******/

ALTER TABLE rein.agg_subject_direct ADD
 CONSTRAINT pk_agg_subject_direct PRIMARY KEY 
(
	agg_subject_direct_id
);

CREATE INDEX rein.idx_agg_subject_direct1 ON rein.agg_subject_direct
(
	clstat_id
);

/****** Object:  Table rein.agg_subject_loss    Script Date: 08/28/2009 12:00:36 ******/

ALTER TABLE rein.agg_subject_loss ADD
 CONSTRAINT pk_agg_subject_loss PRIMARY KEY 
(
	agg_subject_loss_id
);

CREATE INDEX rein.idx_agg_subject_loss1 ON rein.agg_subject_loss
(
	clstat_id
);

/****** Object:  Table rein.asset_type    Script Date: 08/28/2009 12:00:37 ******/

ALTER TABLE rein.asset_type ADD
 CONSTRAINT pk_asset_type PRIMARY KEY 
(
	asset_type_code
);

/****** Object:  Table rein.banks    Script Date: 08/28/2009 12:00:42 ******/

ALTER TABLE rein.banks ADD
 CONSTRAINT pk_banks PRIMARY KEY 
(
	bank_code
);

/****** Object:  View rein.cash_app_view1    Script Date: 08/28/2009 12:10:52 ******/

drop view rein.cash_app_view1;

create view rein.cash_app_view1 	as
 	select	batch_id, count(*) as receipt_count, sum(amount) as receipt_amount
 	from cash_app 	where (tran_code = '200') group by batch_id;

/****** Object:  View rein.cession_subject_claim_view1    Script Date: 08/28/2009 12:10:52 ******/

drop view rein.cession_subject_claim_view1;

create view rein.cession_subject_claim_view1 	as
 	select	distinct contract_policy_id, sub_contract_certificate_id, clcrit_id, treaty_facultative
 	from cession_subject_claim;

/****** Object:  View rein.cession_subject_premium_view1    Script Date: 08/28/2009 12:10:52 ******/

drop view rein.cession_subject_premium_view1;

create view rein.cession_subject_premium_view1 	as
 	select	distinct contract_policy_id, sub_contract_certificate_id, premium_direct_id, treaty_facultative
 	from cession_subject_premium;

/****** Object:  View rein.loss_notice_view1    Script Date: 08/28/2009 12:10:52 ******/

drop view rein.loss_notice_view1;

create view rein.loss_notice_view1	as
 	select max(loss_notice1.loss_notice1_id) as loss_notice1_id, loss_notice1.contract_policy_id,
		loss_notice1.sub_contract_certificate_id, loss_notice2.clstat_id, loss_notice2.clmtloc_id
	from loss_notice1 join loss_notice2 on (loss_notice1.loss_notice1_id = loss_notice2.loss_notice1_id)
	group by loss_notice1.contract_policy_id, loss_notice1.sub_contract_certificate_id,
		loss_notice2.clstat_id, loss_notice2.clmtloc_id;

/****** Object:  View rein.treaty_fac_view1    Script Date: 08/28/2009 12:10:52 ******/

drop view rein.treaty_fac_view1;

create view rein.treaty_fac_view1	as
 	select	master_contract.master_contract_id as contract_policy_id, sub_contract.sub_contract_id as sub_contract_certificate_id,
		master_contract.contract as contract_policy, master_contract.eff_date as contract_policy_eff_date,
		master_contract.exp_date as contract_policy_exp_date, sub_contract.sub_contract as sub_contract_certificate,
		sub_contract.eff_date as sub_contract_cert_eff_date, sub_contract.exp_date as sub_contract_cert_exp_date
	from master_contract join sub_contract on master_contract.master_contract_id = sub_contract.master_contract_id
	union 	select fac_policy.fac_policy_id, fac_certificate.fac_certificate_id, fac_policy.policy_number, fac_policy.eff_date,
			fac_policy.exp_date, fac_certificate.certificate, fac_certificate.eff_date, fac_certificate.exp_date
		from fac_policy join fac_certificate on fac_policy.fac_policy_id = fac_certificate.fac_policy_id;

/****** Object:  View rein.claim_direct_ceded_view1    Script Date: 08/28/2009 12:10:52 ******/

drop view rein.claim_direct_ceded_view1;

create view rein.claim_direct_ceded_view1 	as
	select	ceded_claim.clcrit_id, ceded_claim.sub_contract_certificate_id,
        	sum(ceded_claim.loss_pd_indem) as ceded_loss_pd_indem, sum(ceded_claim.loss_pd_medical) as ceded_loss_pd_medical,
		sum(ceded_claim.lae_pd_bill) as ceded_lae_pd_bill, sum(ceded_claim.lae_pd_nonbill) as ceded_lae_pd_nonbill,
		sum(ceded_claim.loss_resvs_indem) as ceded_loss_resvs_indem, sum(ceded_claim.loss_resvs_medical) as ceded_loss_resvs_medical,
		sum(ceded_claim.lae_resvs_bill) as ceded_lae_resvs_bill, sum(ceded_claim.lae_resvs_nonbill) as ceded_lae_resvs_nonbill,
		sum(ceded_claim.sal_sub) as ceded_sal_sub
	from ceded_claim
	group by ceded_claim.clcrit_id, ceded_claim.sub_contract_certificate_id;

/****** Object:  View rein.premium_direct_ceded_view1    Script Date: 08/28/2009 12:10:52 ******/

drop view rein.premium_direct_ceded_view1;

create view rein.premium_direct_ceded_view1 	as
	select	premium_ceded2.premium_direct_id, premium_ceded1.sub_contract_certificate_id,
        	sum(premium_ceded2.ceded_written) as ceded_written, sum(premium_ceded2.ceded_earned) as ceded_earned,
		sum(premium_ceded2.ceded_unearned) as ceded_unearned, sum(premium_ceded2.ceded_premium_comm) as ceded_premium_comm,
		sum(premium_ceded2.ceded_cash_comm) as ceded_cash_comm, sum(premium_ceded2.ceded_premium) as ceded_premium,
	      	sum(premium_ceded2.ceded_cash) as ceded_cash
	from premium_ceded2 join premium_ceded1 on (premium_ceded2.premium_ceded1_id = premium_ceded1.premium_ceded1_id)
	group by premium_ceded2.premium_direct_id, premium_ceded1.sub_contract_certificate_id;

/****** Object:  View rein.claim_inclusive_view1    Script Date: 05/27/2011 14:00:00 ******/

drop view rein.claim_inclusive_view1;

create view rein.claim_inclusive_view1	as
 	select	clstat.company, clstat.cat_code, clstat.master_claim, clstat.claim,
		clstat.policy_number, clstat.policy_eff_date, clstat.policy_exp_date,
		clstat.originating_company, clstat.retrocession,
		clcrit.acct_date, cession_subject_claim_view1.treaty_facultative,
		treaty_fac_view1.contract_policy, treaty_fac_view1.sub_contract_certificate,
		ceding_criteria.asline_code, ceding_criteria.location_number,
		ceding_criteria.udf1_code, ceding_criteria.udf2_code, ceding_criteria.udf3_code,
		ceding_criteria.udf4_code, ceding_criteria.udf5_code, ceding_criteria.udf6_code,
		ceding_criteria.udf7_code, ceding_criteria.udf8_code, ceding_criteria.udf9_code,
		ceding_criteria.udf10_code, ceding_criteria.udf11_code, ceding_criteria.udf12_code,
		ceding_criteria.udf13_code, ceding_criteria.udf14_code, ceding_criteria.udf15_code,
		ceding_criteria.udf16_code, sum(clcrit.dir_loss_pd_indem) as dir_loss_pd_indem,
		sum(clcrit.dir_loss_pd_medical) as dir_loss_pd_medical, sum(clcrit.dir_lae_pd_bill) as dir_lae_pd_bill,
		sum(clcrit.dir_lae_pd_nonbill) as dir_lae_pd_nonbill, sum(clcrit.dir_loss_resvs_indem) as dir_loss_resvs_indem,
		sum(clcrit.dir_loss_resvs_medical) as dir_loss_resvs_medical, sum(clcrit.dir_lae_resvs_bill) as dir_lae_resvs_bill,
		sum(clcrit.dir_lae_resvs_nonbill) as dir_lae_resvs_nonbill, sum(clcrit.dir_sal_sub) as dir_sal_sub,
		sum(claim_direct_ceded_view1.ceded_loss_pd_indem) as ceded_loss_pd_indem, sum(claim_direct_ceded_view1.ceded_loss_pd_medical) as ceded_loss_pd_medical,
		sum(claim_direct_ceded_view1.ceded_lae_pd_bill) as ceded_lae_pd_bill, sum(claim_direct_ceded_view1.ceded_lae_pd_nonbill) as ceded_lae_pd_nonbill,
		sum(claim_direct_ceded_view1.ceded_loss_resvs_indem) as ceded_loss_resvs_indem, sum(claim_direct_ceded_view1.ceded_loss_resvs_medical) as ceded_loss_resvs_medical,
		sum(claim_direct_ceded_view1.ceded_lae_resvs_bill) as ceded_lae_resvs_bill, sum(claim_direct_ceded_view1.ceded_lae_resvs_nonbill) as ceded_lae_resvs_nonbill,
		sum(claim_direct_ceded_view1.ceded_sal_sub) as ceded_sal_sub
	from clcrit join clstat on (clcrit.clstat_id = clstat.clstat_id)
		join ceding_criteria on (clcrit.ceding_criteria_id = ceding_criteria.ceding_criteria_id)
		join cession_subject_claim_view1 on (clcrit.clcrit_id = cession_subject_claim_view1.clcrit_id)
		join treaty_fac_view1 on (cession_subject_claim_view1.sub_contract_certificate_id = treaty_fac_view1.sub_contract_certificate_id)
		left outer join claim_direct_ceded_view1 on (clcrit.clcrit_id = claim_direct_ceded_view1.clcrit_id and
  			 treaty_fac_view1.sub_contract_certificate_id = claim_direct_ceded_view1.sub_contract_certificate_id)
	group by clstat.company, clstat.cat_code, clstat.master_claim, clstat.claim,
		clstat.policy_number, clstat.policy_eff_date, clstat.policy_exp_date,
		clstat.originating_company, clstat.retrocession,
		clcrit.acct_date, cession_subject_claim_view1.treaty_facultative,
		treaty_fac_view1.contract_policy, treaty_fac_view1.sub_contract_certificate,
		ceding_criteria.asline_code, ceding_criteria.location_number, ceding_criteria.udf1_code,
		ceding_criteria.udf2_code, ceding_criteria.udf3_code, ceding_criteria.udf4_code,
		ceding_criteria.udf5_code, ceding_criteria.udf6_code, ceding_criteria.udf7_code,
		ceding_criteria.udf8_code, ceding_criteria.udf9_code, ceding_criteria.udf10_code,
		ceding_criteria.udf11_code, ceding_criteria.udf12_code, ceding_criteria.udf13_code,
		ceding_criteria.udf14_code, ceding_criteria.udf15_code, ceding_criteria.udf16_code;

/****** Object:  View rein.premium_inclusive_view1    Script Date: 05/27/2011 14:00:00 ******/

drop view rein.premium_inclusive_view1;

create view rein.premium_inclusive_view1	as
 	select	premium_stat.company, premium_stat.policy_number, premium_stat.policy_eff_date,
		premium_stat.policy_exp_date, premium_stat.originating_company, premium_stat.retrocession,
		premium_direct.acct_date, cession_subject_premium_view1.treaty_facultative,
		treaty_fac_view1.contract_policy, treaty_fac_view1.sub_contract_certificate,
		ceding_criteria.asline_code, ceding_criteria.location_number,
		ceding_criteria.udf1_code, ceding_criteria.udf2_code, ceding_criteria.udf3_code,
		ceding_criteria.udf4_code, ceding_criteria.udf5_code, ceding_criteria.udf6_code,
		ceding_criteria.udf7_code, ceding_criteria.udf8_code, ceding_criteria.udf9_code,
		ceding_criteria.udf10_code, ceding_criteria.udf11_code, ceding_criteria.udf12_code,
		ceding_criteria.udf13_code, ceding_criteria.udf14_code, ceding_criteria.udf15_code,
		ceding_criteria.udf16_code, sum(premium_direct.dir_inforce) as dir_inforce,
		sum(premium_direct.dir_written) as dir_written,	sum(premium_direct.dir_earned) as dir_earned,
		sum(premium_direct.dir_unearned) as dir_unearned, sum(premium_direct.dir_comm) as dir_comm,
		sum(premium_direct.dir_cash) as dir_cash, sum(premium_direct_ceded_view1.ceded_written) as ceded_written,
		sum(premium_direct_ceded_view1.ceded_earned) as ceded_earned, sum(premium_direct_ceded_view1.ceded_unearned) as ceded_unearned,
		sum(premium_direct_ceded_view1.ceded_premium_comm) as ceded_comm, sum(premium_direct_ceded_view1.ceded_cash_comm) as ceded_cash_comm,
		sum(premium_direct_ceded_view1.ceded_premium) as ceded_premium, sum(premium_direct_ceded_view1.ceded_cash) as ceded_cash
	from premium_direct join premium_stat on (premium_direct.premium_stat_id = premium_stat.premium_stat_id)
		join ceding_criteria on (premium_direct.ceding_criteria_id = ceding_criteria.ceding_criteria_id)
		join cession_subject_premium_view1 on (premium_direct.premium_direct_id = cession_subject_premium_view1.premium_direct_id)
		join treaty_fac_view1 on (cession_subject_premium_view1.sub_contract_certificate_id = treaty_fac_view1.sub_contract_certificate_id)
		left outer join premium_direct_ceded_view1 on (premium_direct.premium_direct_id = premium_direct_ceded_view1.premium_direct_id and
			treaty_fac_view1.sub_contract_certificate_id = premium_direct_ceded_view1.sub_contract_certificate_id)
	group by premium_stat.company, premium_stat.policy_number, premium_stat.policy_eff_date,
		premium_stat.policy_exp_date, premium_stat.originating_company, premium_stat.retrocession,
		premium_direct.acct_date, cession_subject_premium_view1.treaty_facultative,
		treaty_fac_view1.contract_policy, treaty_fac_view1.sub_contract_certificate,
		ceding_criteria.asline_code, ceding_criteria.location_number, ceding_criteria.udf1_code,
		ceding_criteria.udf2_code, ceding_criteria.udf3_code, ceding_criteria.udf4_code,
		ceding_criteria.udf5_code, ceding_criteria.udf6_code, ceding_criteria.udf7_code,
		ceding_criteria.udf8_code, ceding_criteria.udf9_code, ceding_criteria.udf10_code,
		ceding_criteria.udf11_code, ceding_criteria.udf12_code, ceding_criteria.udf13_code,
		ceding_criteria.udf14_code, ceding_criteria.udf15_code, ceding_criteria.udf16_code;